spring:
Book-microservice:
	bookController:
		Port:8081
	MongoDb:
		Port:27017
		Db:BookStore
		Collection:Book
	Redis:
		Port:6379

Author-microservice:
	authorController:
		Port:8082
	MongoDb:
		Port:27018
		conf:mongod --config "C:\Program Files\MongoDB\Server\6.0\bin\mongod-auth.cfg"
